*{
    
}

body{
    background-color: rgb(239, 181, 7);
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("background1.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#contentContainer{
   
}

#contentContainer > #imgContainer{
    filter: brightness(80%);
}

#gridContainer{
    display: grid;
    grid-template-columns: [first]1fr [second]1fr [third]1fr [fourth]1fr;
    grid-template-rows: [first]40% [second]10% [third]10% [fourth]10% [fifth]30%;
    grid-row-gap: 3em;
    grid-column-gap: 2em;
}

#header{
    /*background-color: aliceblue;*/
    grid-row-start: second;
    grid-row-end: second;
    grid-column: second / span 2;
    text-align: center;
}

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
 }
 form label {
    margin: 5px 10px 5px 0;
 }
 form input {
    margin: 5px 10px 5px 0;
    padding: 10px;
 }
 form button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(39, 22, 141);
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 4px;
 }
 form button:hover {
    background-color: rgb(113, 65, 225);
 }
 @media (max-width: 800px) {
    form input {
       margin: 10px 0;
    }
    form {
       flex-direction: column;
       align-items: stretch;
    }
 }

/*#form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: third;
    grid-row-end: third;
}


/* Type selector only*/
/*
#gridContainer > #typeSelector{
    /*background-color: beige;
    grid-column-start: second;
    grid-column-end: second;
    grid-row-start: third;
    grid-row-end: third;
}

#typeSelector{
}

#type{
    text-align: center;
    background-color: #FFDE59;
    border-radius: 20px;
}

/* State selector only
#stateSelector{
    /*background-color: blueviolet;
    grid-column-start: third;
    grid-column-end: third;
    grid-row-start: third;
    grid-row-end: third;
}

#state{
    text-align: center;
    background-color:#FFDE59;
    border-radius: 20px;
}

#submitButton{
    /*background-color: brown;*
    grid-row-start: fourth;
    grid-row-end: fourth;
    grid-column: second / span 2;
    text-align: center;
}
*/